* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Blinker', sans-serif;
}

body {
background-color: #1C2541;
color: #f8f8f2
;
}

a,
button {
  cursor: pointer;
}